/* layout */
.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.al-center {
  align-items: center;
}

.flx-bt {
  justify-content: space-between;
}

.gap-5 {
  gap: calc(var(--px-x) / 2);
}
.gap-10 {
  gap: var(--px-x);
}
.gap-20 {
  gap: var(--px-2x);
}

.d-grid {
  display: grid;
}
@media (max-width: 47.9375rem) {
  .d-block-moblie {
    display: block;
  }
}
/* end-layout */
/* over flow */
.over-hidden {
  overflow: hidden;
}
/* end over flow */

/* padding - margin */
.p-10 {
  padding: var(--px-x);
}
.p-15 {
  padding: 0.9375rem;
}
.p-20 {
  padding: var(--px-2x);
}
.p-block-10 {
  padding-block: var(--px-x);
}
.p-block-20 {
  padding-block: var(--px-2x);
}

@media (max-width: 47.9375rem) {
  .p-5-mobile {
    padding: calc(var(--px-x) / 2);
  }
}
@media (max-width: 47.9375rem) {
  .p-10-mobile {
    padding: var(--px-x);
  }
}

.m-0 {
  margin: 0;
}
.m-20 {
  margin: 1.25rem;
}
.mt-5 {
  margin-top: 5px;
}
.mt-20 {
  margin-top: var(--px-2x);
}
.mb-25 {
  margin-bottom: var(--px-2x);
}

.m-block-10 {
  margin-block: var(--px-x);
}
/* end padding - margin */
.w-ft {
  width: fit-content;
}
/* background */
.bg-eee {
  background-color: #eee;
}
.bg-grey {
  background-color: var(--grey-color);
}
.bg-blue {
  background-color: var(--blue-color);
}
.bg-green {
  background-color: var(--green-color);
}
.bg-orange {
  background-color: var(--orange-color);
}
.bg-red {
  background-color: var(--red-color);
}
.hover-blue:hover {
  background-color: var(--blue-alt-color);
}
.bg-white {
  background-color: #fff;
}

/* end background */
/* border */
.rad-6 {
  border-radius: 0.375em;
}
.rad-10 {
  border-radius: var(--px-x);
}

.rad-half {
  border-radius: 50%;
}
/* end border */
/* position */
.relative {
  position: relative;
}
/* end position */
/* font */
.txt-center {
  text-align: center;
}
@media (max-width: 47.9375rem) {
  .txt-center-mobile {
    text-align: center;
  }
}
.txt-cap {
  text-transform: capitalize;
}
.txt-upper {
  text-transform: uppercase;
}
.c-white {
  color: #fff;
}
.c-black {
  color: #000;
}
.c-green {
  color: var(--green-color);
}
.c-orange {
  color: var(--orange-color);
}
.c-red {
  color: var(--red-color);
}
.c-blue {
  color: var(--blue-color);
}
.c-grey {
  color: var(--grey-color);
}

.fw-bold {
  font-weight: bold;
}
.fs-14 {
  font-size: 14px;
}
/* end font */
/* componant */
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-shape {
  border: none;
  padding: 0.25rem var(--px-x);
  font-size: 14px;
  border-radius: 0.9rem;
}

.delete {
  opacity: 0.5;
  & *:not(i) {
    text-decoration: line-through;
  }
}

label.toggle-switch {
  width: 78px;
  height: 32px;
  border-radius: 15px;
  transition: background-color var(--duration);
  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    position: absolute;
    width: 24px;
    height: 24px;
    right: calc(100% - 27px);
    transition: var(--duration);
    &::before {
      content: "\58";
      font-weight: 900;
      font-family: var(--fa-family-classic);
    }
    &:checked {
      transform: rotate(360deg);
      right: 3px;
      background-color: #fff;
      color: var(--blue-color);
      &::before {
        content: "\f00c";
      }
    }
  }

  &:has(input[type="checkbox"]:checked) {
    background-color: var(--blue-color);
  }
}
