input,
textarea {
  outline: none;
}

:root {
  --blue-color: #0077ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --grey-alt-color: #eee;
  --duration: 0.3s;
  --px-x: 0.625rem;
  --px-2x: 1.25rem;
  --px-2x5: 1.5625rem;
  --px-3x: 1.875rem;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.8rem;
}
::-webkit-scrollbar-track {
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
}

main {
  min-height: 100dvh;
  overflow: hidden;
  background-color: #f1f5f9;
}
/* end global rules */
main aside {
  box-shadow: 0 0 10px #ddd;
  width: 14rem;
  flex-shrink: 0;
  h3 {
    margin-top: 0;
    padding-bottom: 1rem;
    font-size: clamp(0.938rem, calc(0.824rem + 0.568vw), 1.25rem);
  }
  ul {
    a {
      margin-block-start: 0.5rem;
      transition: background-color var(--duration);
      &:hover,
      &.active {
        background-color: #f6f6f6;
      }
    }
  }
}

@media (min-width: 768px) {
  aside > h3 {
    &::before,
    &::after {
      content: "";
      position: absolute;
      background: #000;
    }
    &::before {
      width: 100%;
      height: 0.1rem;
      bottom: 0;
      left: 0;
    }
    &::after {
      border-radius: 50%;
      bottom: -50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 7px;
      border: 5px solid #fff;
    }
  }
  aside ul li:first-child {
    margin-block-start: var(--px-3x);
  }
}

@media (max-width: 47.9375rem) {
  main aside {
    max-width: 4rem;
    padding: var(--px-x) !important;
    h3 {
      writing-mode: sideways-lr;
      margin-left: 0.4rem;
      margin-top: 0.3rem;
    }
    li span {
      display: none;
    }
  }
}
/* end aside */
/* content and header */
main section.content {
  flex: 1;
  overflow: hidden;
}

section.content header {
  .search {
    border: 1px solid #ccc;
    border-radius: 0.6rem;
    padding-block: 0.4rem;
    padding-inline: 1.875rem 0.4rem;
    i {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 5px;
      color: var(--grey-color);
      font-size: 14px;
    }
    input[type="search"] {
      border: none;
      width: 8.75rem;
      transition: width var(--duration);
      padding: 0;
      &::placeholder {
        text-transform: capitalize;
        transition: opacity var(--duration);
      }
      &:focus {
        width: 11.25rem;
        &::placeholder {
          opacity: 0;
        }
      }
    }
  }
  .icons {
    &::after {
      content: "";
      width: var(--px-x);
      height: var(--px-x);
      border-radius: 50%;
      background-color: var(--red-color);
      position: absolute;
      top: 0;
      left: 1.1em;
    }
    img {
      width: 2rem;
      height: 2rem;
    }
  }
}
/* end content and header */
.wrapper {
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}

.wrapper article {
  .head {
    span {
      display: inline-flex;
      width: 35px;
      height: 35px;
      cursor: pointer;
      transition:
        color var(--duration),
        background-color var(--duration);
      &:hover {
        background-color: var(--blue-color);
        color: #fff;
      }
    }
    img {
      width: 100px;
    }
  }
  .body {
    border-block: 1px solid #eee;
    margin-block: var(--px-2x);
    padding-block: 20px;
    span {
      position: absolute;
      font-size: 35px;
      opacity: .2;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}
